---
layout: page
title: Projects
permalink: /projects/
---

{% for post in site.categories.projects %}
  <ul class="post-list">
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <div><img src="{{ post.image }}"></div>
      {%- if site.show_excerpts -%}
        <div class="entry-excerpt">
          {{ post.excerpt }}
          <p><a href="{{ post.url | relative_url }}" class="btn more-link">Read More<span class="icon">{% include icon-arrow-right.svg %}</span></a></p>
        </div>
      {%- endif -%}
    </li>
  </ul>
{%- endfor -%}
