{% for post in paginator.posts %}
  {% include entry.html %}
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<nav class="pager">
  <ul>
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | relative_url }}" class="btn"><span class="icon">{% include icon-arrow-left.svg %}</span></a></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li><span class="page-number">{{ page }}</span></li>
      {% elsif page == 1 %}
        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="page-number">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-number">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}" class="btn"><span class="icon">{% include icon-arrow-right.svg %}</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
