// pagination
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1 / -1;
  margin: 2em 0;
  width: 100%;

  ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: block;
    float: left;
    margin-left: -1px;

    a {
      display: block;
      margin-bottom: 0.25em;
      padding: 0.5em 1em;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
      border: 1px solid $grey-color-light;
      border-radius: 0;

      &:hover {
        background-color: $orange-color;
        color: $background-color;
      }

      &.current,
      &.current.disabled {
        background-color: $grey-color-light;
        color: $background-color;
      }

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        color: $grey-color-light;
      }
    }
  }
}
