.pagination {
    margin: 2em 0;
    text-align: center;

    a {
      &:hover {
        background-color: $orange-color;
        color: $background-color;
      }
    }

    a, span {
      padding: 7px 18px;
      border: 1px solid $grey-color-light;
      margin-left: -1px;
      margin-right: -1px;
      background-color: $background-color;
      display: inline-block;
      text-decoration: none;
    }
}
