.mainbox {
  font-family: inherit;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  margin: 0 auto;
  a {
    text-decoration: none;
  }
}

.card {
  width: 300px;
  box-shadow: 0px 0px 5px $grey-color;
  border-radius: 2px;
  margin: 20px;
  text-align: justify;
  transition: 0.25s ease-in;
  // position: relative;
  &:hover {
    box-shadow: 0px 0px 15px $orange-color;
  }
}

.post-image-index {
  border-bottom: 1px solid $grey-color-light;
}

.card-footer {
  padding: 1em;
  margin: 0;
  border: none;
  h2 {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
  }
}

.post-excerpt {
  font-size: $base-font-size;
  text-align: justify;
  margin-bottom: .2em;
  margin-top: .2em;
  color: $text-color;
}
