@charset "utf-8";

$brand-color: #00a651 !default;

.icon {
  display: inline-block;
  position: relative;
  top: -0.05em; /* fine-tune alignment */
  width: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: middle;
  fill: currentColor;
}

.more-link {
  font-size: 70%;
  font-weight: bold;
  text-decoration: none;
}

.align-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pager {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
  margin-bottom: 2rem;

  ul {
    padding-left: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;

    > li {
      -ms-flex: 1;
      flex: 1;
      justify-content: space-between;
      -ms-flex-pack: justify;
    }

    li + li {
      margin-left: 0.125em;
    }
  }
}

.page-number {
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em;
  vertical-align: middle;
}

.cv-image {
  display: block;
  padding: 0em;
  border-radius: 1em;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  border: 0;
  border-radius: 0.25em;
  background-color: $brand-color;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: lighten($brand-color, 10%);
    color: #fff;
  }

  &:focus {
    background-color: darken($brand-color, 15%);
    color: #fff;
  }
}

.g-recaptcha {
  margin-bottom: 0.75em;
}

.staticman-comment {
  label, input, textarea {
    width: 100%;
    margin-bottom: 1em;
  }

  input {
    font-size: inherit;
    height: 2.5em;
    border: 1px solid $brand-color;
  }

  textarea {
    font-size: inherit;
    height: 6em;
    border: 1px solid $brand-color;
  }
}

.js-comment {
  margin-bottom: 1em;
  background-color: ghostwhite;
  width: 100%;
}

.comment-avatar {
  margin: 3pt;
  display: block;
  font-size: 200%;
  font-weight: bold;
  color: white;
  background-color: $brand-color;
  border: none;
  padding: 0.1em 0.5em;
  text-align: center;
  text-decoration: none;
}

.comment-author {
  margin-left: 1em;
}

.comment-date {
  font-size: 9pt;
  display: inline-flex;
  justify-content: flex-start;
}

.comment-body {
  display: flex;
  justify-content: left;
  margin-right: 1em;
  margin-bottom: 1em;
  word-wrap: break-word;
}

.comment-avatar-wrapper {
  display: flex;
}
